In [16]:
import glob
import h5py
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

from scipy.sparse import csc_matrix, kronsum
from scipy import stats

from datetime import datetime

from ete3 import Tree

### Microbe Atlas Project Database Import

In [2]:
# Function for importing sample data and metadata.
def read_mapdb_h5(h5_path, otu_data=True, meta_data=True):
    """Example file: /mnt/mnemo3/janko/data/microbe_atlas/sruns-otus.97.otutable_plusMetaNoHeader_taxonomy_unmapped.h5"""
    f = h5py.File(h5_path, 'r')
    result_dict = {}
    # read otu data
    if otu_data:
        data_handle = f["otu_table"]
        col_ptr, nzvals, rowindices, otu_index, sample_index = [np.array(data_handle[sub_key]) for sub_key in ['data_colptr', 'data_nzval', 'data_rowval', 'oids', 'sids']]
        ## correct indexing (julia starts at 1)
        col_ptr -= 1
        rowindices -= 1
        otutable_sparse = csc_matrix((nzvals,rowindices,col_ptr), shape=(data_handle["m"][()],data_handle["n"][()]))
        result_dict["otu_data"] = {"otu_table": otutable_sparse, "otu_index": otu_index, "sample_index": sample_index}
    # read meta data
    if meta_data:
        meta_handle = f["meta_data"]
        result_dict["meta_data"] = {sub_key: pd.DataFrame(np.array(meta_handle[sub_key]).T) for sub_key in meta_handle.keys()}
    f.close()
    return result_dict

In [3]:
# Importing MAPdb sample data and metadata.
mapdb_complete = read_mapdb_h5("/mnt/mnemo3/janko/data/microbe_atlas/hdf5/v0.2.2/metag_minfilter/samples-otus.97.metag.minfilter.remap.minCov90.noMulticell.h5")

# Importing environmental labels (after clean up has been done by Janko).
environment_labels = pd.read_csv("/mnt/mnemo3/janko/projects/microbe_atlas/results/cleaned_metadata/environments/v0.2.1/metag_minfilter/otu_97_cleanedEnvs_bray_maxBray08_nproj10_20210224_merged.tsv", sep = "\t")
environment_labels.head()

                SampleID EnvClean_merged
0  ERR1554384.ERS1226365          animal
1    SRR413756.SRS295012          animal
2   SRR2062171.SRS957269            soil
3  ERR1458281.ERS1207161         aquatic
4    ERR494261.ERS450459            soil

In [4]:
# Before selecting rows and columns, need to convert all ids to strings.
# Converting sample ids and OTU ids to strings.
convert_to_string = np.vectorize(lambda x: x.decode("utf-8"))
mapdb_complete["otu_data"]["otu_index"] = convert_to_string(mapdb_complete["otu_data"]["otu_index"])
mapdb_complete["otu_data"]["sample_index"] = convert_to_string(mapdb_complete["otu_data"]["sample_index"])

In [6]:
reads_in_sample = mapdb_complete["otu_data"]["otu_table"].sum(axis = 1)

# Calculating the total number of OTUs detected in the sample.
number_otus = csc_matrix(mapdb_complete["otu_data"]["otu_table"] > 0, dtype = "int32").sum(axis = 1)

# Determining which samples have at least 1000 reads and 20 OTUs.
geq_1000_reads_20_otus = np.where((reads_in_sample >= 1000) & (number_otus >= 20))[0]
print(len(mapdb_complete["otu_data"]["sample_index"]))
print(len(geq_1000_reads_20_otus))

1039362
1039362

### Importing OTU Mapping Table

In [26]:
# Mapping between all specI clusters to OTUs.
speci_to_otu_mapping = pd.read_csv("mapping_progenomes_v2.2_speci_clusters_to_mapref_v2.2b_OTUs.tsv", sep = "\t")

# These are clusters that are not taxonomically coherent according to GTDB.
problematic_clusters = ["specI_v3_Cluster22", "specI_v3_Cluster2375", "specI_v3_Cluster4851", "specI_v3_Cluster5010", "specI_v3_Cluster5514"]

# To select OTUs for further analysis, we only consider specI clusters that went into the pipeline.
speci_clusters_in_pipeline = Tree("species_tree_progenomes_v2.2_no_chimera_reps_only_mapping_to_otus.nwk").get_leaf_names()
speci_clusters_in_pipeline = ["specI_v3_" + x for x in speci_clusters_in_pipeline]
speci_clusters_in_pipeline = [x for x in speci_clusters_in_pipeline if x not in problematic_clusters]

# Now, selecting the OTUs that map to the corresponding specI clusters.
otus_in_pipeline = speci_to_otu_mapping.loc[(speci_to_otu_mapping["speci_id"].isin(speci_clusters_in_pipeline)) & (speci_to_otu_mapping["OTU97"] != "unmapped"), "OTU97"].unique()

# In MAPdb table, otus are written in short format - only the 97% identifier is present.
otus_in_pipeline_short = [x[0] + x.split(";")[-1] for x in otus_in_pipeline]
otus_in_pipeline = pd.Series(otus_in_pipeline)
otus_in_pipeline.index = otus_in_pipeline_short

In [18]:
# Selecting only rows corresponding to the OTUs that occur in the dataset.
selected_otu_indices = np.isin(mapdb_complete["otu_data"]["otu_index"], otus_in_pipeline_short)

# Only selecting rows in table that correspond to selected OTUs.
otu_table_selected = mapdb_complete["otu_data"]["otu_table"][:, selected_otu_indices]

# Dividing by total reads to calculate relative abundances.
otu_table_rel_abundance = csc_matrix(otu_table_selected / reads_in_sample)
print(otu_table_rel_abundance)

  (3, 0)	1.3082155939298796e-05
  (18, 0)	0.0002516862981979261
  (20, 0)	0.00015842839036755386
  (26, 0)	1.4346584795489434e-05
  (28, 0)	7.173343854237653e-05
  (47, 0)	3.207184092366902e-05
  (53, 0)	4.833019187086173e-05
  (57, 0)	2.6905829596412556e-05
  (72, 0)	1.688993552870324e-05
  (81, 0)	2.6836271905106942e-05
  (82, 0)	3.1208185907163446e-05
  (88, 0)	1.9508769191751692e-05
  (125, 0)	0.00011290504685559444
  (131, 0)	0.0003751250416805602
  (154, 0)	0.0005852593988691598
  (179, 0)	3.174401625293632e-05
  (202, 0)	0.00023768777334093934
  (209, 0)	4.7260095937994756e-05
  (238, 0)	1.4175951915171104e-05
  (243, 0)	0.00011921024821506817
  (249, 0)	4.989522003792037e-05
  (251, 0)	3.635438252081288e-05
  (269, 0)	2.532479043735913e-05
  (279, 0)	9.252234414611129e-05
  (283, 0)	8.26856292376385e-05
  :	:
  (919604, 4374)	4.998225629901385e-06
  (972993, 4374)	5.73921028466483e-05
  (431238, 4375)	7.853670412867454e-06
  (618051, 4375)	1.1461580781221346e-05
  (845745, 4375)	4.143463272341554e-06
  (870938, 4375)	1.5474740271959274e-07
  (206563, 4376)	2.3929118123459416e-07
  (282195, 4376)	0.0013397729188417027
  (299459, 4376)	0.0006824815027439771
  (439815, 4376)	0.00011088933244621867
  (471904, 4376)	0.005030653417918471
  (594937, 4376)	0.0010164479763444835
  (748425, 4376)	0.005266031040876448
  (766938, 4376)	9.342651070667812e-06
  (768808, 4376)	0.006229595307776226
  (871376, 4376)	0.0013313806417254693
  (1026465, 4376)	0.0018908584497361802
  (459169, 4377)	1.0199814363378586e-05
  (582475, 4377)	0.00010603891628227559
  (819338, 4377)	2.141740378231351e-05
  (889645, 4377)	2.2851136272751162e-05
  (223858, 4378)	0.0005885815185403178
  (237885, 4378)	0.002340655383507382
  (172215, 4379)	1.786033220217896e-05
  (272284, 4379)	1.7390195407829066e-05

In [19]:
# Now, calculating average abundance in animal, aquatic, soil and plant samples.
# First, checking if sample order is the same.
environment_labels.index = environment_labels["SampleID"]
environment_labels_correct_order = environment_labels.loc[mapdb_complete["otu_data"]["sample_index"], "EnvClean_merged"].values

# Next, determining which samples where given which environmental label.
animal_samples = environment_labels_correct_order == "animal"
aquatic_samples = environment_labels_correct_order == "aquatic"
plant_samples = environment_labels_correct_order == "plant"
soil_samples = environment_labels_correct_order == "soil"

# Calculating average relative abundance per environment.
animal_avg_rel_abund = np.asarray(otu_table_rel_abundance[animal_samples].mean(axis = 0)).flatten()
aquatic_avg_rel_abund = np.asarray(otu_table_rel_abundance[aquatic_samples].mean(axis = 0)).flatten()
plant_avg_rel_abund = np.asarray(otu_table_rel_abundance[plant_samples].mean(axis = 0)).flatten()
soil_avg_rel_abund = np.asarray(otu_table_rel_abundance[soil_samples].mean(axis = 0)).flatten()

In [27]:
# Saving tables for later reference.
otus_in_transfer_matrix.index = otus_in_transfer_matrix_short
data_average_abundance = pd.DataFrame({"otu_id": otus_in_pipeline[mapdb_complete["otu_data"]["otu_index"][selected_otu_indices]],
                                       "animal": animal_avg_rel_abund, "aquatic": aquatic_avg_rel_abund,
                                       "plant": plant_avg_rel_abund, "soil": soil_avg_rel_abund})
data_average_abundance.to_csv("OTU_average_abundance_by_environment.csv", sep = ",", index = False)